[v-cloak] {display: none}

.afi-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 15px 0px;
}
.afi-col-full {
    width: 100%;
    height: auto;
}
.afi-col-half {
    flex-basis: 49%;
    height: auto;
    display: flex;
}
.afi-col-one-third {
    width: 32%;
    height: auto;
}

.afi-col-one-fourth {
    width: 25%;
    height: auto;
}

.afi-checkbox-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.afi-checkbox {
    position: relative;
    display: flex;
    flex-basis: 280px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fefefa;
    box-shadow: 0px 5px 18px 0px rgba(0, 4, 32, 0.08);
}

.afi-elements-info {
    display: flex;
    align-items: center;
}

p.afi-el-title {
    font-size: 15px;
    font-weight: 600;
    color: #3a3c40;
    margin: 0.5em;
}

.afi-el-title {
    position: relative;
}

.adfoin-toggle-form{
    width: 28px;
    height: 16px;
    float: left;
    margin-top: 3px;
    margin-right: 4px;
    position: relative;
}

.adfoin-toggle-form input[type=checkbox]{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    opacity:0;
    z-index:1
}

.adfoin-toggle-form input[type=checkbox]:checked+.afi-slider{
    background-color:#4bce61;
}

.adfoin-toggle-form input[type=checkbox]:checked+.afi-slider::before{
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%)
}

.adfoin-toggle-form .afi-slider{
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition:.4s;
    background-color:#cdd0d2
}

.adfoin-toggle-form .afi-slider::before{
    content:'';
    width:12px;
    height:12px;
    position:absolute;
    left:2px;
    bottom:2px;
    transition:.2s;
    background-color:#fff;
}

.adfoin-toggle-form .afi-slider.round{
    border-radius:16px;
}

.adfoin-toggle-form .afi-slider.round::before{
    border-radius:50%;
}

.afi-log-response-code{
    display: inline-flex;
    line-height: 1.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    cursor: inherit!important;
    white-space: nowrap;
    max-width: 100%;
}

.afi-log-response-code>span{
    margin: 0 .5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.afi-log-response-code.code-200{
    background: #c6e1c6;
    color: #5b841b;
}

.afi-log-response-code.code-400{
    background: #eba3a3;
    color: #761919;
}

.afi-log-response-code.code-500{
    background: #f8dda7;
    color: #94660c;
}

.afi-log-date{
    margin-top: 2px;
}

.afi-full-log-icon-container{
    display: inline;
    cursor: pointer;
    color: #2271b1;
}

.afi-icon-copy-full-log{
    margin-left: 5px;
}

.afi-help-doc-link{
    display: inline;
    cursor: pointer;
    color: #2271b1;
    margin-left: 5px;
    text-decoration: none;
}

.afi-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -20px;
    padding: 15px 15px 13px 15px;
    border-bottom: 1px solid #b5bfc9;
    background: #fff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.afi-header .afi-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: auto;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
}

.afi-header .afi-logo img {
    width: 15px;
    height: auto;
    margin-right: 8px;
}

.afi-header .afi-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.afi-header .afi-logo a:focus {
    box-shadow: none;
}

.afi-header .afi-logo-text {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    color: #50575e;
    letter-spacing: 3px;
}

.afi-header a.afi-help {
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px;
    padding: 0 3px;
    color: #50575e;
    border: 0;
    background: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.afi-header a.afi-help:focus,.afi-header a.afi-help:hover {
    background: transparent
}

.afi-header a.afi-help i {
    font-size: 1.5rem;
    width:auto;
    height: auto;
    margin: 0 !important;
}

#afi-page-title {
    /* background-color: #fff; */
    margin: 0 0 0 -20px;
    padding: 15px 23px 0px 23px;
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    /* border-bottom: 1px solid #e7e8e7 */
}


#afi-page-title .afi-add-new {
    margin-left: 20px;
    text-decoration: none;
    color: #2271b1;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: none;
	top: -3px;
	border: #2271b1;
	border-radius: 3px;
	background: #2271b1;
	font-size: 13px;
	font-weight: 400;
	line-height: 2.15384615;
	color: #ffffff;
	padding: 0 10px;
	min-height: 30px;
	-webkit-appearance: none;
}

.afi-refresh-button {
    margin: 4px 0 0 10px;
    cursor: pointer;
}

.afi-refresh-button:hover {
    color: #2271b1;
}

#inbound-webhook-copy {
    margin-top: 6px;
}

.afi-select {
    width: 22rem;
}

.afi-form-fields {
    width: 6.8rem;
}

@media only screen and (max-width: 768px) {
    .afi-select,
    .afi-form-fields {
        width: 99%;
    }
}


